/* .poster-information{
    background-image: url(../../asset/image/posterMain.jpeg);
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;

} */